{% extends "index.html" %}
{% block title %}
Login
{% endblock title %}

{% block page_content %}
    
    <div class="container mt-5 form-container" >
        <p class="display-1">Please Login</p>
        <form method="POST">
            {{form.hidden_tag()}}
            {{ form.email.label(class="form-label")}}
            {{ form.email(class="form-control")}}
            <br>
            {{ form.password.label(class="form-label")}}
            {{ form.password(class="form-control")}}
            <br>
            {{ form.remember_me.label(class="form-label")}}
            {{ form.remember_me(class="form-check-input")}}
            <br>
            {{ form.submit(class="btn btn-success")}}
        </form>
    </div>
{% endblock page_content %}